{% extends "videochannel/base.html" %}

{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }} {{ fm.mediaFile.translation.caption }}{% endblock %}
{% block description %}{{ fm.mediaFile.translation.description }}{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}videochannel/flowplayer-3.2.11.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ feincms_page.get_absolute_url }}">{{ feincms_page.title }}</a></li>
<li class="selected">&raquo; {{ fm.mediaFile.translation.caption|default:"unnamed" }}</li>
{% endblock %}

{% block content_title %}<h1>{{ fm.mediaFile.translation.caption|default:"unnamed" }}</h1>{% endblock %}

{% block maincontent %}

{% include "videochannel/video.html" %}

<p>{{ fm.mediaFile.translation.description }}</p>
{% if fm.mediaFile.copyright %}<span class="copyright">{{ fm.mediaFile.copyright }}</span>{% endif %}

{% endblock %}