{% extends "videochannel/base.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}videochannel/flowplayer-3.2.11.min.js"></script>
{% endblock %}

{% load feincms_tags i18n applicationcontent_tags %}

{% block maincontent %}

<a href="{% app_reverse "videoch-feed" "videochannel.urls" %}">
	{% trans "Subscribe to RSS feed!" %}<span class="left ui-icon ui-icon-signal-diag"></span>
</a>

<ul>
{% for fm in params.found %}
	<li class="indexItem {% cycle 'rowodd' 'roweven' %}">
		<a href="{{ fm.get_absolute_url }}">
		<div class="videocontainer left onindex">
			{% if fm.thumbnail %}
		 	<img src="{{ fm.thumbnail.url }}" alt="{{ fm.translation.caption|default:"unnamed" }} splash" />
		 	{% else %}
		 	<img src="{{ STATIC_URL }}/videochannel/play_video_default.jpg" alt="{{ fm.translation.caption|default:"unnamed" }} splash" />
			{% endif %}
		</div>
		<h3>{{ fm.translation.caption|default:"unnamed" }}</h3>
		<p>{{ fm.translation.description }}</p>
		{% if fm.copyright %}<span class="copyright">{{ fm.copyright }}</span>{% endif %}
		</a>
	</li>
{% empty %}
	{% trans "Nothing found" %}
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if params.found.has_previous %}
            <a href="?page={{ params.found.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
        	{% blocktrans with params.found.number as curr and params.found.paginator.num_pages as tot %}Page {{ curr }} of {{ tot }}{% endblocktrans %}
        </span>

        {% if params.found.has_next %}
            <a href="?page={{ params.found.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

{% endblock %}