{% load i18n feincms_tags applicationcontent_tags %}

{% comment %}
See: http://camendesign.com/code/video_for_everybody
{% endcomment %}

<a href="{% app_reverse "videoch-detail" "videochannel.urls" fm.id %}">
<div class="videocontainer left onindex">
	{% media_exists fm.file.name .jpg %}
 	<img src="{{ fm.file.url }}.jpg" alt="{{ fm.translation.caption|default:"unnamed" }} splash" />
 	{% else %}
 	<img src="{{ STATIC_URL }}/videochannel/play_video_default.jpg" alt="{{ fm.translation.caption|default:"unnamed" }} splash" />
	{% endmedia_exists %}
</div>
<h3>{{ fm.translation.caption|default:"unnamed" }}</h3>
<p>{{ fm.translation.description }}</p>
{% if fm.copyright %}<span class="copyright">{{ fm.copyright }}</span>{% endif %}
</a>